* {
    color: #018382;
    font-family: cursive;
}

body {
    background-color: #EAE0C8;
}

h1 {
    display: inline-block;
}

a:hover {
    color: #EAE0C8;
    background-color: #018382;
}

.timer-card {
    float: right;
}

.timer-count { 
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
}

main {
    text-align: center;
    margin: 150px auto;
    width: 50%;
    font-size: 200%;
}

.start-button {
    padding: 24px;
    font-size: 24px;
}

.answers {
    display: inline-block;
}

.is-correct-hidden,
.answers-hidden,
.hidden {
    display: none;
}

.is-correct-container {
    display: contents;
}

.is-correct-text {
    font-style: italic;
    opacity: 0.5;
}

.score-input-hidden {
    display: none;
}

input{
    display: block;
    margin: 24px auto;
}

.submit-butt {
    font-size: 24px;
    display: inline;
}

/* CSS for scores.html */
.reset-scores{
    float: right;
    font-size: 24px;
    background-color: #018382;
    color: #EAE0C8;
    margin: 28px 8px;
}

.reset-scores:hover{
    cursor: pointer;
}