* {
    color: #018382;
    font-family: cursive;
}

body {
    background-color: #EAE0C8;
}

h1 {
    display: inline-block;
}

.timer-card {
    float: right;
    
}

.timer-count { 
    font-size: 64px;
    /* display: inline-block; */
    text-align: center;
    margin: 0 auto;
}

main {
    text-align: center;
    margin: 150px auto;
    width: 50%;
    font-size: 200%;
}

.start-button {
    padding: 24px;
    font-size: 24px;
}

.start-button-hidden {
    display: none;
}

.answers {
    display: inline-block;
}

.answers-hidden{
    display: none;
}